@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
</head>

<div class="text-center">
    <h1 class="display-4" id="hello_world" onmouseover="newColor()" onmouseout="oldColor()">Check this out</h1>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/bpOSxM0rNPM"></iframe>
</div>
